body { 
    font-size:12px;
    font-family:verdana;
    margin-top: 0px; margin-left: 0px; margin-right: 0px; 
    background-color:White; 
}
P { font-family:verdana;font-size:10pt}
#topBar {font-size:0px;width:100%;height:10px;background-color:#666666;margin-bottom:2px}
#headerBar {border-bottom:solid black 1px;padding:20px;background-color:#CCCC99;}
.title { 
    font-family: verdana, sans-serif; 
    font-size: 16px; 
    color: #666666; 
    font-weight:bold; 
    letter-spacing:.1em; 
}
.description { 
    font-family: verdana, sans-serif; 
    font-size: 10px; 
    color: #999966; 
    text-transform:uppercase; 
    font-weight:bold; 
    letter-spacing:.2em; 
    padding:5px;
}
.description_sub { 
    font-family: verdana, sans-serif; 
    font-size: 10px; 
    color: #999966; 
    text-transform:uppercase; 
    font-weight:bold; 
    letter-spacing:.1em; 
    padding-left:5px;
    padding-bottom: 0px;
}
.submitbutton {
    width:100px;
}
.lock {
    color:red;
    font-weight:bold;
}
.upset {
     color:blue;
    font-weight:bold;
}
.lockupset {
    color:purple;
    font-weight:bold;
    font-style:italic;
}
.container {
    position:absolute;
    bottom:0;
    margin: 0 5px 5px 5px;
}
.left{
  display: block;
  float:left;
   width: 100px;
}
.right{
  display: block;
  float:right;
   width: 100px;
}
#resultsDiv {background-color:#fcc;font-weight:bold}
#mainContent {background-color:White;}
#left {padding:15px;background-color:White;width:500px;float:left;margin-bottom:10px;}
#standings_left {padding:15px;background-color:White;width:600px;float:left;margin-bottom:10px;}
#right {float:left;width:200px;}
#righterStill {line-height:5px;font-size:0px;width:100%;height:5px;float:left;background-color:#bbb}
#currentWeek {border-bottom:solid 1px black;}
DIV.content {
    padding:10px;
    border-bottom:solid black 1px;
    border-left:solid black 1px;
    border-right:solid black 1px;
    font-size:10px;
    background-color:white;
    }

DIV.subhead {
    border-bottom:solid black 1px;
    border-left:solid black 1px;
    border-right:solid black 1px;
    background-color:#CCCCCC;
    padding:2px;
    font-family: verdana, sans-serif; 
    font-size: 11px; 
    color: #333333; 
    font-weight:bold; 
    letter-spacing:  .1em
    }
DIV.red {
    color: red; 
    }
#resultsDiv A {color:blue;text-decoration:underline}
A           { line-height:18px;color: #CC6633; text-decoration: none; }
A:link      { color: #CC6633; text-decoration: none; } 
A:visited   { color: #CC6633; text-decoration: none; } 
A:active    { color: #FF9966;  } 
A:hover     { color: #FF9966;  } 

#standings_table { width:480px; font: 12px arial, sans-serif;border-spacing:0; border-collapse: collapse;}
#standings_table td { border:solid 1px gray; padding:4px;}
.standings_head { font: bold 12px arial, sans-serif; border:solid 1px black; padding-top: 0px; padding-bottom: 0px; padding-left:4px; padding-right:4px;}

table.sortable tbody tr:nth-child(2n) td {
  background: #ffffff;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background: #f0f3c5;
}
    
td.body { padding:20px;background-color:#666666; }
td.links { padding:8px; font-family: verdana, sans-serif; font-size: 10px; color: #336699; line-height:16px;}
td.header {font-size:12pt;padding:3px;margin-top:10px;margin-bottom:15px;background-color:#84C1FF;layer-background-color:#84C1FF}
td.border {padding-top:4px;padding-left:6px; font-family: verdana, sans-serif; font-size: 10px; border-top:solid 1px #999999;border-left:solid 1px #999999;border-top:dashed 1px #99999;text-align:left}
td.footer {margin-top:80px;text-align:center;}font.subhead { font-family: verdana, sans-serif; font-size: 11px; color: #333333; font-weight:bold; padding:8px; }
td.subhead { font-family: verdana, sans-serif; font-size: 11px; color: #333333; font-weight:bold; padding:8px }
.myradio {width:auto}
font.date { font-family: georgia, sans-serif; font-size: 12px; color: #336699; line-height:16px;}
font.author { font-family: verdana, sans-serif; font-size: 10px; color: #336699; line-height:16px; text-transform:uppercase;}
font.time { font-family: verdana, sans-serif; font-size: 10px; color: #336699; line-height:16px; text-transform:uppercase;}
font { font-family: verdana, sans-serif; font-size: 10px; color: #666666; line-height:16px;}

p.links { font-family: verdana, arial; font-size:10px; color:#666666; line-height:12px; }
INPUT { width:200px;font-family:verdana, arial; font-size:10px; background-color: white; color:#CC6633; }
