{% if session['login_status'] == 'incorrect login' -%}
    {% set login_status_class='subhead red' -%}
{% else -%}
    {% set login_status_class='subhead' -%}
{% endif -%}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>The Great Football Pool - {{ page_title }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mainstyle.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <script src="https://use.fontawesome.com/8c439a9d4e.js"></script>
    <script>
    $(document).ready(function(){
        $("td").click(function () {
            myButton = $(this).find('input:radio')
            if (myButton.is(':enabled')) {
               $(this).find('input:radio').attr('checked', true);
           }
        });
    });
    </script>
 </head>
  <body>
    <div id="topBar"></div>
    <div id="headerBar">
        <div class="title">The Great Football Pool</div>
        <div class="description">{{ page_description }}</div>
    </div>
    <div id="mainContent">
        <div id="left">
        {% block content %} {% endblock %}
        <hr size="1">
        </div>
        <div id="right">
            <div id="loginStatus" class=" {{ login_status_class }}">{{ session['login_status'] }}</div>
            <div id="loginName" class="content">{{ session['player_name'] }}</div>
            <div id="linksTitle" class="subhead">links</div>
            <div id="links" class="content">
            {% if player in session %}
                {{ session['player'] }}
            {% endif %}
            <a href="{{ url_for('home') }}">Home</a><br />
            <a href="{{ url_for('picks') }}">The Picks Page</a><br />
            <a href="{{ url_for('allpicks') }}">Everybody's Picks</a><br />
            <a href="{{ url_for('standings') }}">Standings</a><br />
            <a href="{{ url_for('clan_standings') }}">Clan Standings</a><br />
            <a href="{{ url_for('rules') }}">Rules</a><br />
            <a href="{{ url_for('logout') }}">Logout</a><br />
            </div>
            <div id="currentWeek" class="subhead">Current Week: {{ g.current_week }} </div>
        </div>
        <div id="righterStill"></div>
    </div>
  </body>
</html>