{% extends "base.j2" %}
{% set page_title="Home Page" %}
{% set page_description="Home Page - Starting point for the players of The Great Football Pool" %}
{% block content %}
{{ home_page_text | safe}}
{% endblock %}