{% extends "base.j2" %}
{% set page_title="Login Page" %}
{% set page_description="Log in here to enjoy the wonders of The Great Football Pool" %}
{% block content %}
    <a href="{{ url_for('discord_login') }}">Log In (using Discord)</a>
{% endblock %}