{% extends "base.j2" %}
{% set page_title="Home Page" %}
{% set page_description="Home Page - Starting point for the players of The Great Football Pool" %}
{% block content %}
    <p>We could not find that discord user in our database.</p>
    <p>Join the discord server here: <a href="https://discord.gg/GjV7MYak">TGFP Discord Server</a> and request to be added</p>
{% endblock %}